
* {
    margin: 0;
    padding: 0;
    background-color: #1d1e22;
}

.title {
    font-family: 'roboto';
    color: beige;
    text-align: center;
    font-size: 45px;
    margin: 20px 0px 20px 0px;
}

#container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 100px 20px 100px;
    width: 400px;
    height: 400px;
}

#contain {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cellA {
    background-color: white;
}

.black {
    background-color: black;
}

/* 
#cell:hover {
    background-color: black !important;

}
*/